@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #512888;
    font-weight: bold;
}

p {
    text-align: center;
    animation-name: floatIn;
    animation-duration: 3s;
    font-size: 25px;
}

@keyframes floatIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul{
    list-style-type: none;
}