<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <h1>Log In</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST">
        <input type="text" name="username" required placeholder="Username">
        <input name="password" type="password" required placeholder="Password">
        
        <p><input type="submit" name="login" value="login" id="button"></p>
    </form>

    <p>Don't have an account? Sign up <a href="{{url_for('register')}}">here</a></p>
    </body>