<body>
    <h2>Profiles</h2>
    {% for user in users %}
        <div class="profile">
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Password: {{user.password }}</p>
            <form method="POST" action="{{ url_for('profiles') }}">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit">Delete</button>
            </form>
        </div>
    {% endfor %}
    <p><a href="{{url_for('register')}}">Back</a></p>
</body>
