<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <h1>Sign Up</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST" onsubmit="return validateForm(event)">
        <input type="text" name="username" required placeholder="Username">
        <input name="email" type="email" required placeholder="Email here">
        <input name="password" type="password" id="password" required placeholder="Password">
        <input name="confirm" type="password" id="confirm-password" required placeholder="Confirm Password">
        
        <input type="submit" name="submit" value="Submit" id="button">
    </form>

    <p>Already have a profile? <a href="{{url_for('login')}}">Log In</a></p>
    <script>
        function validateForm(event) {
            var password = document.getElementById("password").value;
            var confirm = document.getElementById("confirm-password").value;

            if (password.length < 8) {
                alert("Password is too weak")
                event.preventDefault();
                return false;
            }
            else if (password !== confirm) {
                alert("Password and Confirm Password do not match.");
                event.preventDefault(); // Prevent form submission
                return false;
            }
            return true;
        }
    </script>
    
</body>