<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <h1>Sign Up</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST" onsubmit="return validateForm(event)">
        <input type="text" name="username" required placeholder="Username">
        <input name="email" type="email" required placeholder="Email here">
        <input name="password" type="password" required placeholder="Password">
        <input name="confirm" type="password" required placeholder="Confirm Password">
        
        <p><input type="submit" name="submit" value="Submit" id="button"></p>
    </form>

    <p>Already have a profile? <a href="{{url_for('login')}}">Log In</a></p>
    <!--p>Profiles created: <a href="{{url_for('profiles')}}">here</a></p-->
    <script src="{{ url_for('static', filename='register.js') }}"></script>
    
</body>